@import "foundation";

.products-search-bar  {
    padding-top: 16px;
    @include grid-row();
	
    .search-box {
	@include grid-column(
	    $collapse:true,
	    $columns: 9
	);
    }

    .search-button {
	@include grid-column(
	    $collapse:true,
	    $columns: 3
	);
    }
}


.login-and-signup-view {
    padding: 2em;
    @media #{$medium-up} {
	padding: 10em;
    }

    .new-user-form {

	h3 {
	    text-align: center;
	}

	@include panel();
	@include grid-column(
            $columns:10,
            $center:true
	);

	@media #{$medium-up} {
	    width: $small-breakpoint / 2.0;
	}

	.submit-button {
	     @include button($full-width: true);
	}
    }
}

.product {

    padding-top: 1em;

    .name {
	font-size: 210%;
	font-weight: bold;
    }

    .description {
    }

    .price {
	font-size: rem-calc(16);
    }

}

.product-review {
    @include grid-row();

    .container {
	@include grid-column();
	padding-top: 1em;

	.authorship {
	    font-size: 85%;
	}

	.review-text {
	}
    }
} 

.create-or-edit-product-form {
    @include panel();
    @include grid-column(
        $columns:10,
        $center:true
    );

    @media #{$medium-up} {
	width: $small-breakpoint / 2.0;
    }
    .submit-button {
	@include button($full-width: true);
    } 
}

.create-or-edit-product-view {
    padding: 2em;

    @media #{$medium-up} {
	padding: 10em;
    }

    .bottom-row{
	text-align: center;
    } 
    
}
