<p><a href="/products/<%= product.id %>" >
    <%= product.name %></a>, <%= product.description %>

  <div class="product-formatted-price">
    <%=  number_to_currency(product.formatted_price)  %>
  </div>


</p>
