<% @product.reviews.each do |review| %>
  <% if review.user != nil %>
  
    <div class="product-review">
      <div class="container">
    
        <div class="authorship">
          Reviewed by 
          <%= review.author %>
          on
          <%= review.date %> 
        </div>
    
        <div class="review-text">
          <%= review.comment %>  
        </div>
          
      </div>
    </div>
    
  <% end %>
<% end %> 
