<%# add navigation links to this file %>
<ul class="right">
  <li class="divider"></li>
  <li><%= link_to "Browse Products", products_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Price List" %></li>
  <li class="divider"></li>
  <li><%= link_to "Contact Us" %></li>
  <li class="divider"></li>
  <li><%= link_to "Cart" %></li>
</ul>

