<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Rainforest", products_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <%= render 'layouts/navigation_links' %>
  </section>
</nav>
